<div class="jumbotron">
    <h2>PRUEBA TECNICA DE JOSE MARIA BLASCO MARTINEZ</h2>
   
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Proyecto</h2>
        <p>Web api realizada empleando los principios SOLID. Para la inversión de control se ha utilizado Unity y para las llamadas a la Web Api la herramienta Postman</p>
      
    </div>
   
</div>
